user  {{user}};
worker_processes  1;

error_log  {{logdir}}/error.log warn;
pid        {{pidfile}};

events {
    worker_connections  768;
}

http {
    include       {{cfgdir}}/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$time_local $remote_addr $remote_user "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" "$request_time"';

    #access_log  {{logdir}}/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    include {{cfgdir}}/conf.d/*.conf;
}
