server {
  listen 443 ssl;
  server_name {{server_name|default(ansible_host, true)}};
  server_tokens off;

  ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
  ssl_certificate {{cfgdir}}/{{cert_file}};
  ssl_certificate_key {{cfgdir}}/{{cert_file|replace('.crt', '.key')}};

  index index.html index.htm home.html;

  access_log  {{logdir}}/{{my_rolename}}.access.log standard;
  error_log  {{logdir}}/{{my_rolename}}.error.log warn;

  sendfile on;
  tcp_nopush on;

  keepalive_timeout 10;
  client_header_timeout 30;
  client_max_body_size 10M;

  default_type text/plain;
  recursive_error_pages on;

  rewrite_log off;

{% for item in locations %}
  location ^~ /{{item.service}}/ {
    proxy_pass {{item.proxy}};
    expires {{item.expire}};
  }
{% endfor %}

{% for item in redirect_locations %}
  location ^~ /{{item.service}}/ {
{% for ref in item.referer %}
    if ($http_referer ~ /{{ref}}/) {
      return 301 $scheme://$http_host:$http_port/{{ref}}$request_uri;
    }
{% endfor %}
    return 404;
  }
{% endfor %}

  location = /server-status {
    stub_status on;
    access_log off;
    allow 10.231.0.0/16;
    allow 170.140.201.0/24;
    allow 75.131.197.0/24;
    allow 127.0.0.1;
    deny all;
  }
}
