log_format my_standard  '[$time_local] $remote_addr $remote_user "$request" '
                          '$status $body_bytes_sent "$http_referer" '
                          '"$http_user_agent" "$http_host" D=${request_time}s';

log_format postdata '$msec $remote_addr $request_body';

server {
  listen {{port}};

  server_name {{server_name}};
  server_tokens off;

  root {{docroot}};
  index index.html index.htm home.html;

  access_log  {{logdir}}/{{server_name}}.access.log my_standard;
  error_log  {{logdir}}/{{server_name}}.error.log warn;

  sendfile on;
  tcp_nopush on;

  keepalive_timeout 10;
  client_header_timeout 30;
  client_max_body_size 10M;

  default_type text/plain;
  recursive_error_pages on;

  rewrite_log off;

{% for item in log_locations %}
  location = /{{item.service}} {
    if ($request_method != POST) {
      return 405;
    }
    access_log {{logdir}}/{{item.service}}.log postdata;
    proxy_pass {{item.proxy}};
  }
{% endfor %}

{% if log_locations|length > 0 %}
  location = /logsink {
    access_log off;
    return 200;
  }
{% endif %}

  location = /server-status {
    stub_status on;
    access_log off;
    allow 10.231.0.0/16;
    allow 170.140.201.0/24;
    allow 75.131.197.0/24;
    allow 127.0.0.1;
    deny all;
  }
}
